<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9f607d86-c1a6-48a4-a4de-7efccfec4553/resourcegroups/WargosTesting/providers/Microsoft.Web/sites/WebApiTutorialMaster20180403065228</ResourceId>
    <ResourceGroup>WargosTesting</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapitutorialmaster20180403065228.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapitutorialmaster20180403065228.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApiTutorialMaster20180403065228</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApiTutorialMaster20180403065228</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebApiTutorialMasterContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:webapitutorialmaster20180403065228dbserver.database.windows.net,1433;Initial Catalog=WebApiTutorialMaster20180403065228_db;User ID=David@webapitutorialmaster20180403065228dbserver;Password=Algose33" Name="Data Source=tcp:webapitutorialmaster20180403065228dbserver.database.windows.net,1433;Initial Catalog=WebApiTutorialMaster20180403065228_db;User Id=David@webapitutorialmaster20180403065228dbserver;Password=Algose33" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|WebApiTutorialMasterContext-20180403182847.mdf;Initial Catalog=WebApiTutorialMasterContext-20180403182847;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WebApiTutorialMasterContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WebApiTutorialMasterContext-20180403182847; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WebApiTutorialMasterContext-20180403182847.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WebApiTutorialMasterContext-Web.config Connection String">
      <ParameterValue>data source=tcp:webapitutorialmaster20180403065228dbserver.database.windows.net,1433;initial catalog=WebApiTutorialMaster20180403065228_db;user id=David@webapitutorialmaster20180403065228dbserver;password=Algose33;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>